In [1]:
#Admission Prediction Problem (Regression Problem)
#Chance of Admit in Foreign University
import pandas as pd
import numpy as np
df=pd.read_csv(r"C:\Users\Lakshya Pokharna\Downloads\Admission_Predict.csv")
df.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [2]:
df.describe()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
count,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000
mean,200.500000,316.807500,107.410000,3.087500,3.400000,3.452500,8.598925,0.547500,0.724350
std,115.614301,11.473646,6.069514,1.143728,1.006869,0.898478,0.596317,0.498362,0.142609
min,1.000000,290.000000,92.000000,1.000000,1.000000,1.000000,6.800000,0.000000,0.340000
25%,100.750000,308.000000,103.000000,2.000000,2.500000,3.000000,8.170000,0.000000,0.640000
50%,200.500000,317.000000,107.000000,3.000000,3.500000,3.500000,8.610000,1.000000,0.730000
75%,300.250000,325.000000,112.000000,4.000000,4.000000,4.000000,9.062500,1.000000,0.830000
max,400.000000,340.000000,120.000000,5.000000,5.000000,5.000000,9.920000,1.000000,0.970000

In [3]:
df.columns

Index(['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP',
       'LOR', 'CGPA', 'Research', 'Chance of Admit'],
      dtype='object')

In [4]:
df.dtypes

Serial No.             int64
GRE Score              int64
TOEFL Score            int64
University Rating      int64
SOP                  float64
LOR                  float64
CGPA                 float64
Research               int64
Chance of Admit      float64
dtype: object

In [5]:
#Deleting 'Serial No.' because it does not play any significant role in ML

del df['Serial No.']
df.head()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,337,118,4,4.5,4.5,9.65,1,0.92
1,324,107,4,4.0,4.5,8.87,1,0.76
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65

In [6]:
#Preparing independent/input features/variables

X=df.drop('Chance of Admit', axis=1)
X.head()

   GRE Score  TOEFL Score  University Rating  SOP  LOR  CGPA  Research
0        337          118                  4  4.5  4.5  9.65         1
1        324          107                  4  4.0  4.5  8.87         1
2        316          104                  3  3.0  3.5  8.00         1
3        322          110                  3  3.5  2.5  8.67         1
4        314          103                  2  2.0  3.0  8.21         0

In [7]:
#Preparing dependent/outcome/output feature/varialbe/column

y=df['Chance of Admit']
y.head()

0    0.92
1    0.76
2    0.72
3    0.80
4    0.65
Name: Chance of Admit, dtype: float64

In [8]:
#Checking missing values in X

X.isnull().sum()

GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
dtype: int64

In [9]:
X.head()

   GRE Score  TOEFL Score  University Rating  SOP  LOR  CGPA  Research
0        337          118                  4  4.5  4.5  9.65         1
1        324          107                  4  4.0  4.5  8.87         1
2        316          104                  3  3.0  3.5  8.00         1
3        322          110                  3  3.5  2.5  8.67         1
4        314          103                  2  2.0  3.0  8.21         0

In [10]:
#Feature Scaling of numerical features using MinMaxScaler

from sklearn.preprocessing import MinMaxScaler
mx=MinMaxScaler(feature_range=(0,1))

#Scaling all features/columns of X

X[X.columns]=mx.fit_transform(X[X.columns])
X.head()

   GRE Score  TOEFL Score  University Rating    SOP    LOR      CGPA  Research
0       0.94     0.928571               0.75  0.875  0.875  0.913462       1.0
1       0.68     0.535714               0.75  0.750  0.875  0.663462       1.0
2       0.52     0.428571               0.50  0.500  0.625  0.384615       1.0
3       0.64     0.642857               0.50  0.625  0.375  0.599359       1.0
4       0.48     0.392857               0.25  0.250  0.500  0.451923       0.0

In [11]:
#splitting the data into training and testing set

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test=train_test_split(X, y,test_size=0.2)

#since, test_size=0.2. So 80% of the data will be initialized to training set and 20% of the data
#will be initialized to testing set.

#The default value of test_size is 0.25

In [12]:
print(X.shape)
print(y.shape)

(400, 7)
(400,)

In [13]:
#X_train= 80% data of X =320
#X_test= 20% data of X= 80

#y_train= 80% data of y= 320 rows
#y_test= 20% data of y= 80 rows

In [14]:
print(X_train.shape)
print(X_test.shape)

print(y_train.shape)
print(y_test.shape)

(320, 7)
(80, 7)
(320,)
(80,)

In [15]:
X_train.head(10)

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research
266,0.44,0.464286,0.25,0.250,0.375,0.528846,0.0
217,0.62,0.607143,0.75,0.750,0.750,0.746795,1.0
147,0.72,0.785714,0.50,0.500,0.500,0.740385,1.0
9,0.66,0.571429,0.50,0.625,0.500,0.576923,0.0
102,0.48,0.500000,0.25,0.750,0.625,0.464744,0.0
226,0.32,0.642857,0.25,0.625,0.750,0.528846,0.0
262,0.36,0.392857,0.25,0.375,0.750,0.500000,1.0
238,0.40,0.428571,0.50,0.250,0.625,0.503205,0.0
101,0.44,0.464286,0.25,0.375,0.500,0.423077,0.0
245,0.76,0.642857,0.75,0.750,0.375,0.711538,1.0

In [16]:
X_test.head()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research
160,0.50,0.392857,0.00,0.125,0.250,0.339744,0.0
236,0.70,0.714286,0.75,0.750,0.875,0.759615,1.0
186,0.54,0.535714,0.50,0.625,0.500,0.602564,1.0
72,0.62,0.678571,1.00,1.000,1.000,0.849359,1.0
31,0.74,0.392857,0.50,0.750,0.750,0.480769,1.0

In [17]:
y_train.head()

266    0.72
217    0.85
147    0.83
9      0.45
102    0.62
Name: Chance of Admit, dtype: float64

In [18]:
y_test.head()

160    0.57
236    0.85
186    0.84
72     0.93
31     0.74
Name: Chance of Admit, dtype: float64

In [19]:
#Now, our data is ready for machine learning

#We can train our model to solve this regression problem

#Applying LinearRegression algo/model on training data i.e. X_train and y_train

from sklearn.linear_model import LinearRegression

#Creating object of LinearRegression

LR=LinearRegression()

In [20]:
#Training the LinearRegression algo using training data ie X_train, y_train

LR.fit(X_train, y_train)

LinearRegression()

In [21]:
#Testing the LinearRegression model/algo using testing data i.e. X_test, y_test

LR.score(X_test, y_test)

0.8872994180269128

In [22]:
#Here, score is 0.7725 or ~77.25%

#It means that the LinearRegression predicts the value of y_test on X_test with 77% of accuracy

#Working of score()

#In score(), first predict() is called to predict the outcome of y_test on the basis of X_test

#Then, It compares the predicted outcome with the actual outcome.

"""
Actual outcome        Predicted outcome 
y_test                  y_pred

0.6                 0.6
0.5                 0.5
0.7                 0.9
0.8                 0.8

We can say that actual outcome and predicted outcome of the algorithm is matching at 03 places.
So accuracy is 3/4: 0.75 or 75%
"""

'\nActual outcome        Predicted outcome \ny_test                  y_pred\n\n0.6                 0.6\n0.5                 0.5\n0.7                 0.9\n0.8                 0.8\n\nWe can say that actual outcome and predicted outcome of the algorithm is matching at 03 places.\nSo accuracy is 3/4: 0.75 or 75%\n'

In [23]:
#Applying RandomForestRegressor

from sklearn.ensemble import RandomForestRegressor

rfr=RandomForestRegressor()

rfr.fit(X_train, y_train)

RandomForestRegressor()

In [24]:
#Applying DecisionTreeRegressor

from sklearn.tree import DecisionTreeRegressor

dtr=DecisionTreeRegressor()
dtr.fit(X_train, y_train)

DecisionTreeRegressor()

In [25]:
print('Score of LinearRegresson:', LR.score(X_test, y_test))
print('Score of RandomForestRegssor:', rfr.score(X_test, y_test))
print('Score of DecisionTreeRegressor:', dtr.score(X_test, y_test))

Score of LinearRegresson: 0.8872994180269128
Score of RandomForestRegssor: 0.8425171880508081
Score of DecisionTreeRegressor: 0.6809151798405714

In [26]:
#The score of LinearRegression is highest ie ~84%

#So, on the basis of score, we can select LinearRegression for implementation

In [27]:
#Implementing the LinearRegression algo on new data

X.dtypes

GRE Score            float64
TOEFL Score          float64
University Rating    float64
SOP                  float64
LOR                  float64
CGPA                 float64
Research             float64
dtype: object

In [28]:
df.describe()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
count,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000
mean,316.807500,107.410000,3.087500,3.400000,3.452500,8.598925,0.547500,0.724350
std,11.473646,6.069514,1.143728,1.006869,0.898478,0.596317,0.498362,0.142609
min,290.000000,92.000000,1.000000,1.000000,1.000000,6.800000,0.000000,0.340000
25%,308.000000,103.000000,2.000000,2.500000,3.000000,8.170000,0.000000,0.640000
50%,317.000000,107.000000,3.000000,3.500000,3.500000,8.610000,1.000000,0.730000
75%,325.000000,112.000000,4.000000,4.000000,4.000000,9.062500,1.000000,0.830000
max,340.000000,120.000000,5.000000,5.000000,5.000000,9.920000,1.000000,0.970000

In [29]:
#Inputting the values for prediction using LinearRegression

gre=float(input('Enter GRE Score between 290 to 340:'))
toefl=float(input('Enter TOEFL Score b/w 92 to 120='))
rating=float(input("Enter University Rating between 1 and 5="))
sop=float(input('Enter SOP between 1 and 5='))
lor=float(input('Enter LOR betw 1 and 5='))
cgpa=float(input('Enter CGPA bewtween 6.8 to 9.92='))
research=float(input('Enter Research 0- for NO and 1-for Yes'))

Enter GRE Score between 290 to 340:320
Enter TOEFL Score b/w 92 to 120=100
Enter University Rating between 1 and 5=5
Enter SOP between 1 and 5=4
Enter LOR betw 1 and 5=5
Enter CGPA bewtween 6.8 to 9.92=8.8
Enter Research 0- for NO and 1-for Yes1

In [30]:
type(X_train)

pandas.core.frame.DataFrame

In [31]:
X_train.columns

Index(['GRE Score', 'TOEFL Score', 'University Rating', 'SOP', 'LOR', 'CGPA',
       'Research'],
      dtype='object')

In [39]:
#Now, Prepare the new data as a dataframe because we have given the training data in fit() as a dataframe
#Order and name of the columns in new dataframe must match with the training data

#Trasforming the new data as a dataframe

#Arrange all the individual input variables in a list

value=[[gre, toefl, rating, sop, lor, cgpa, research]]

newdf=pd.DataFrame(value, columns=['GRE Score', 'TOEFL Score', 'University Rating', 'SOP', 'LOR', 'CGPA',
       'Research'])

In [40]:
newdf

   GRE Score  TOEFL Score  University Rating  SOP  LOR  CGPA  Research
0      320.0        100.0                5.0  4.0  5.0   8.8       1.0

In [41]:
X_train.head(1)

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research
266,0.44,0.464286,0.25,0.25,0.375,0.528846,0.0

In [35]:
#Next, Scale the new data using MinMaxScaler because we have scaled the training data using
#MinMaxScaler

#Don't fit the new data in MinMaxScaler. Just transform the new data using object of MinMaxScaler

newdf[newdf.columns]=mx.transform(newdf[newdf.columns])
newdf

   GRE Score  TOEFL Score  University Rating   SOP  LOR      CGPA  Research
0        0.6     0.285714                1.0  0.75  1.0  0.641026       1.0

In [36]:
#Now, your data is ready for prediction

#Predicting the value of 'Chance of Admit' on this new data using LinearRegression alog/model

new_pr=LR.predict(newdf)
new_pr

array([0.78061395])

In [37]:
print('Your Chance of Admit is:', new_pr[0])

Your Chance of Admit is: 0.7806139481533994

In [38]:
import numpy as np
print('Your Chance of Admit is:', np.around(new_pr[0],2)*100, "%")

Your Chance of Admit is: 78.0 %